# Xcode
#
# gitignore contributors: remember to update GitHub's official Xcode.gitignore, which can be found at
# https://github.com/github/gitignore/blob/main/Global/Xcode.gitignore
# and the build-in Xcode.gitignore template in Xcode's "New Project" dialog.

## Build results
build/
DerivedData/

## User-specific files
*.xcuserdatad
*.xcuserstate
project.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.xcscheme
*.scshareddata
IndividualCodeSnippets.plist
IDETemplateMacros.plist

## Swift Package Manager
.build/
.swiftpm/

## App Store Connect
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Other
.DS_Store
*.swp
*.lock
*.hmap
*.ipa
